* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  html{
      font-size: 10px;
      color: white;
  }
  .container {
      background-image: url(images/glossy-happy-birthday-balloons-background-illustration-free-vector.webp);
      background-repeat:no-repeat;
      background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .box {
  display: flex;
  
  /* border: 2px solid black; */
  
  }
  .box1{
      border: 1px solid black;
  }
  p{
      font-size: 50px;
      position: absolute;
      top: 160px;
      text-shadow: 3px 3px 2px crimson;
      left: 35%;
  }
  span{
      /* padding: 4rem; */
      width: 180px;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 3px 3px 5px black;
  font-family: cursive;
      /* border: 2px solid red; */
      display: flex;
      justify-content: center;
  }